#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}  

.main-container {
  border: 1px solid;
  padding: 30px;
  border-radius: 10%;
  background-color: white;
}

.register-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
.form-css {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
